<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="React Routes" enabled="true" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{REQUEST_FILENAME}" pattern="(\.js)|(\.css)|(\.png)|(\.jpg)" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="/(api)/" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="/(swagger)/" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration> 